<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    function test(){
    var existence = {{ existence|yesno:"true,false" }}
    if(!existence){
            alert("There is no player matching criteria, please try again")
        }

    }
    </script>

<head>
    <meta charset="UTF-8">
    <title>Advance Search</title>
</head>
<body onload="test();">

<a class="button" href="/">Change to Name Search</a>


<form action='/advanceSearch/Player/' method='POST'>{% csrf_token %}
{{ PlayerForm }}
<input type="submit" value="search">
</form>
<br>


<form action='/advanceSearch/PlayerRank/' method='POST'>{% csrf_token %}
{{ PlayerRankForm }}
<input type="submit" value="search">
</form>
<br>

<form action='/advanceSearch/Consistency/' method='POST'>{% csrf_token %}
{{ ConsistencyForm }}
<input type="submit" value="search">
</form>
<br>

<form action='/advanceSearch/Kicker/' method='POST'>{% csrf_token %}
{{ KickerForm }}
<input type="submit" value="search">
</form>
<br>

<form action='/advanceSearch/CareerStats/' method='POST'>{% csrf_token %}
{{ CareerStatsForm }}
<input type="submit" value="search">
</form>
<br>

<form action='/advanceSearch/SeasonOffensiveStats/' method='POST'>{% csrf_token %}
{{ SeasonOffensiveStatsForm }}
<input type="submit" value="search">
</form>
<br>



</body>
</html>