<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    function test(){
    var existence = {{ existence|yesno:"true,false" }}
    if(!existence){
            alert("There is no player matching criteria, please try again")
        }

    }
    var forms = ['Player','Consistency','Kicker','PlayerRank','Kicker','stats'];

    $(document).on('change', '#selectCategory', function() {
        var curv = $('#selectCategory').val();

        for(var i=0;i<forms.length;i++){
            if(forms[i].localeCompare(curv)!=0) {
{#                $("body").find('#' + forms[i]).attr('style', function(i, style)#}
{#            {#}
{#                return style.replace('*.', 'display:none');#}
{#            });#}
                     $("body").find('#' + forms[i]).attr("style", "display:none");
            }
        }

        $("body").find('#' + curv).attr('style', function(i, style)
            {
                return style.replace(/display[^;]+;?/g, '');
            });
    });

    </script>

<head>
    <meta charset="UTF-8">
    <title>Advance Search</title>
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/index.css' %}"  >
</head>
<body onload="test();">

<a class="button" href="/">Change to Name Search</a><br>
<a>Select Based on:</a><select id='selectCategory'><option value="Player">Player</option><option value="PlayerRank">Player Rank</option>
<option value="Consistency">Consistency</option><option value="Kicker">Kicker Stats</option><option value="stats">General Stats</option></select>

<form style='' id = 'Player' action='/advanceSearch/Player/' method='POST'>{% csrf_token %}
{{ PlayerForm }}
<input type="submit" value="search">
</form>



<form style="display:none" id='PlayerRank' action='/advanceSearch/PlayerRank/' method='POST'>{% csrf_token %}
{{ PlayerRankForm }}
<input type="submit" value="search">
</form>


<form style="display:none" id="Consistency" action='/advanceSearch/Consistency/' method='POST'>{% csrf_token %}
{{ ConsistencyForm }}
<input type="submit" value="search">
</form>


<form style="display:none" id='Kicker' action='/advanceSearch/Kicker/' method='POST'>{% csrf_token %}
{{ KickerForm }}
<input type="submit" value="search">
</form>


{#<form action='/advanceSearch/CareerStats/' method='POST'>{% csrf_token %}#}
{#{{ CareerStatsForm }}#}
{#<input type="submit" value="search">#}
{#</form>#}
{#<br>#}
<dive id="stats" style="display:none">
<select><option>Seasonal Stats</option><option>Career Stats</option></select>
<form action='/advanceSearch/SeasonOffensiveStats/' method='POST'>{% csrf_token %}
{{ SeasonOffensiveStatsForm }}
<input type="submit" value="search">
</form>
</dive>




</body>
</html>