<!--DOCTYPE html-->
<html>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://lab.alexcican.com/set_cookies/cookie.js" type="text/javascript"></script>

<script type="text/javascript">
    function add(){

        if (!$.cookie('pOne')) {
            var info="";
            {% for obj in player_list %}
{#                alert("{{ obj.name }}");#}
                var info = "{{ obj.name }}";
            {% endfor %}

            $.cookie("pOne",info);
            alert('Player successfully add to list');
 //no cookie
    } else if(!$.cookie('pTwo')) {
            var info="";
            {% for obj in player_list %}
{#                alert("{{ obj.name }}");#}
                var info = "{{ obj.name }}";
            {% endfor %}

            $.cookie("pTwo",info);
        alert('Player successfully add to list');
 // have cookie
}
        else{
            alert('Maximun of Two players. Old selections are discarded. Please make two more selection.')
            $.removeCookie("pOne");
            $.removeCookie("pTwo");
        }
    }
    </script>
<head>
    <meta charset="UTF-8">
    <title>Fantasql</title>
        {% load staticfiles %}    
    <link rel="stylesheet" href="{% static 'css/index.css' %}"  >
</head>

<body>


  <button type="button" id="admin"> <a href="/admin/">Admin</a></button>


<section id="main">



  <button type="button"> <a href="/advanceSearch/">Advance Search</a></button>
  <button type="button" class="orange"><a href="/compareList/">Compare List</a></button>

  
  
  <!--
  <a class="button" href="/advanceSearch/">Change to Advance People Search</a>
  <a class="button" href="/compareList/">Compare List</a>
  -->
<form> 
    <input style = "width:50%" type="text" name = "n" placeholder="Search by name(Team or Player)" value='{{ request.GET.n }}'/>
   

</form>
    <button id="addButton" onclick="add();">Add this Player to List</button>


{% if player_list %}

    
    <table style="50%">
        <tr>

            <th>Name</th> <th>Team</th> <th>Experience</th> <th>Position</th><th>Injury</th>
            <th>Suspended</th><th>Kicker</th>
        </tr>
        {% for obj in player_list %}

            <tr style="border: 2px solid white;">
                <td>{{ obj.name }}</td>
                {% if TeamBelong_list %}
                    {% for team in TeamBelong_list %}
                    <td>

                        <a class="button" method="POST" href="/?n={{ team.name }}">{{ team.name }}</a>

                    </td>
                    {% endfor %}

                {% else %}
                    <td>Don't have team</td>
                {% endif %}



                <td>{{ obj.experience }}</td><td>{{ obj.position }}</td>
                
                        
                {% if Injury_list %}
                    <td>

                        <a target="_blank" class="button" method="POST" href="/Injury/Detail/{{ obj.id }}/">True</a>

                    </td>

                {% else %}
                    <td>False</td>
                {% endif %}

                {% if Suspended_list %}
                    <td>

                        <a target="_blank" class="button" method="POST" href="/Suspended/Detail/{{ obj.id }}/">True</a>

                    </td>
                {% else %}
                    <td>False</td>
                {% endif %}
                {% if Kicker_list %}
                    <td>

                        <a target="_blank" class="button" method="POST" href="/Kicker/Detail/{{ obj.id }}/">True</a>

                    </td>
                {% else %}
                    <td>False</td>
                {% endif %}

            </tr>

        {% endfor %}
    </table>
    
    
    
    <div id="chart" style="height:20px"> </div>
    
    

    {% for d in Rank_list %}
        <table>
            <tr>
                <th></th>
                {% for key,values in d.items %}


                    <th>{{ key }} </th>
                {% endfor %}
            </tr>
            <tr>
                <td>Rank: </td>
                {% for key,value in d.items %}
                    <td>{{ value }}</td>

                {% endfor %}
            </tr>


        </table>
    {% endfor %}

   <br>

    {% for d in Consistency_list %}
        <table>
            <tr><th></th>
                {% for key,values in d.items %}


                    <th>{{ key }} </th>
                {% endfor %}
            </tr>
            <tr>
                <td>Consistency: </td>
                {% for key,value in d.items %}
                    <td>{{ value }}</td>

                {% endfor %}
            </tr>


        </table>
    {% endfor %}
    <br>

    {% for d in Season_list %}
        <table>
            <tr><th></th>
                {% for key,values in d.items %}


                    <th>{{ key }} </th>
                {% endfor %}
            </tr>
            <tr>
                <td>Season Stats: </td>
                {% for key,value in d.items %}
                    <td>{{ value }}</td>

                {% endfor %}
            </tr>


        </table>
    {% endfor %}

    
     <br>
    {% for d in Career_list %}
        <table>
            <tr><th></th>
                {% for key,values in d.items %}


                    <th>{{ key }} </th>
                {% endfor %}
            </tr>
            <tr>
                <td>Career Stats: </td>
                {% for key,value in d.items %}
                    <td>{{ value }}</td>

                {% endfor %}
            </tr>


        </table>
    {% endfor %}
{% else %}
    <h1>No Team or Player has that name.Please try again!</h1>

{% endif %}




{% if defense_list %}
    {% for d in defense_list %}
        <table style="50%">

            {% for key,values in d.items %}
                <tr>

                    <th>{{ key }} :</th>
                    <td>{{ values }}</td>



                </tr>
            {% endfor %}


        </table>
    {% endfor %}
{% endif %}

{% if contract_list %}
    <table>
        <tr><th>Players: </th>
         
            {% for player in contract_list %}


                <td>

                    <a class="button" method="POST" href="/?n={{ player.playerName }}">{{ player.playerName }}</a>

                </td>
            {% endfor %}

        </tr>
    </table>


{% endif %}



</div>

</section>        
        
        



    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

    
    
</body>


</html>