<!--DOCTYPE html-->
<html>


<body>
<form>
    <input style = "width:50%" type="text" name = "n" placeholder="Search by name(Team or Player)" value='{{ request.GET.n }}'/>
    <input type="submit" value="search"/>

</form>

 {% if player_list %}
 <table style="50%">
   <tr>
       <th>Name</th> <th>Experience</th> <th>Position</th>
   </tr>
{% for obj in player_list %}

   <tr>
       <th>{{ obj.name }}</th> <th>{{ obj.experience }}</th><th>{{ obj.position }}</th>
   </tr>

{% endfor %}
    </table>
 {% endif %}


 {% if team_list %}
 <table style="50%">
   <tr>
    <th>Name</th> <th>City</th>
   </tr>
{% for obj in team_list %}

   <tr>
      <td>{{ obj.name }}</td> <td>{{ obj.city }}</td>
   </tr>

{% endfor %}
    </table>

{% if contract_list %}
     <table>
     <tr><th>Players: </th>
     {% for player in contract_list %}

    <td>{{ player.playerName }}</td>
     {% endfor %}

     </tr>
     </table>


{% endif %}


 {% endif %}


{{ player_list }}
{#{{ team_list }}#}
{{ contract_list }}
</body>
</html>